.formf {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 350px;
    margin: 0 auto 100px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .formf input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: hsl(0, 0%, 100%);
    width: 100%;
    border: 1px solid #ff0000;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
  }
  .formf button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #ff0000;
    width: 200px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .formf button:hover,.formf button:active,.formf button:focus {
    background: #920000;
  }
  button:hover{
      transition: 0.4s;
  }
  button:not(:hover){
      transition: 0.4s;
  }
  .succes{
    color: #001aff;
    font-size: 15px;
  }    
  .erreur{
    color: #ff0000;
    font-size: 15px;
  } 